@{
    ViewData["Title"] = "Home Page";
    var userName = Context.Session.GetString("UserName");
}

<div class="text-center">
    <h1 class="display-4">
        Welcome @(!string.IsNullOrEmpty(userName) ? userName : "")
    </h1>
</div>
